# IDE and environment specific
.github/
.vscode/
.gitignore

# Log files
.logs/

# Notes and other non-project files
Others/
.DSA Community Notes/

# Compiled output
*.exe
*.o
build/
.gitignore
# Documents and generated reports
*.pdf
.roo
**.md

mcp-guide/
Exam Problems/*